body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    
}
h1{
    /* if you want to align text in center and along with specifying its width  then you neeed to set its margin like this  margin: 0 auto ; */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 150px;
    
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    font-size: 562.5%;  /*  90px = 562.5%/* /* 100% = 16px = 1em */
    /* line-height: 2; */
    
  
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
    
}
.upper{
    background-color: #EAF6F6;
}
h3{
    font-family: 'Montserrat', sans-serif;  
    color:#11999E ;  
}
.bcloud{
    position: absolute;
    right: 1050px;
}
.ucloud{
    position: absolute;
    right: 300px;
    top: 70px;
}
.middle-container{
    margin: 100px auto;
    
    
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
     
}
a{
    color:#11999E;
    font-family: 'Montserrat', sans-serif; 
    margin: 10px 20px;
    text-decoration: none; 
    
}
a:hover{
    color: #EAF6F6;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    
}
.c-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.py-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.me{
    margin-top: 100px;
    width: 20%;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .me{
    border-radius:50%;
    height: 230px;
    width: 200px;
  }
  .intro
  {
    width: 30%;
    margin: 0 auto;
    
  }
  p{
    line-height: 2;
   
    
  }
  hr{
    border-style: dotted none none;
    border-width: 5px;
    border-color: lightgrey;
    width: 5%;
    margin: 100px auto;

  }
  .contact1{
    width: 40%;
    margin:40px auto 60px;
    
  }
.iimg{
    float:left;
    height:20px;
    width: 20px;
    
    
}
/* .timg{
    float:left;
    height:20px;
    width: 20px;
}
.fimg{
    float:left;
    height:20px;
    width: 20px;
} */
.copy{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

